<a href="https://colab.research.google.com/github/Skuperday/Skuperday/blob/main/OBD_2%2C_Nikishin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **--- Задание №1 ---**

In [ ]:
import numpy as np
import pandas as pd

train_df = pd.read_csv("/content/drive/MyDrive/obd_data/05-7_task-files-1/09_Energy_and_Water_Data_Disclosure.csv",
                       index_col = 'Order')

In [ ]:
train_df.head()

,Property Id,Property Name,Parent Property Id,Parent Property Name,BBL - 10 digits,"NYC Borough, Block and Lot (BBL) self-reported",NYC Building Identification Number (BIN),Address 1 (self-reported),Address 2,Postal Code,...,Source EUI (kBtu/ft²),Release Date,Water Required?,DOF Benchmarking Submission Status,Latitude,Longitude,Community Board,Council District,Census Tract,NTA
Order,,,,,,,,,,,,,,,,,,,,,
1,13286,201/205,13286,201/205,1013160001,1013160001,1037549,201/205 East 42nd st.,Not Available,10017,...,619.4,05/01/2017 05:32:03 PM,No,In Compliance,40.750791,-73.973963,6.0,4.0,88.0,Turtle Bay-East Midtown ...
2,28400,NYP Columbia (West Campus),28400,NYP Columbia (West Campus),1021380040,1-02138-0040,1084198; 1084387;1084385; 1084386; 1084388; 10...,622 168th Street,Not Available,10032,...,404.3,04/27/2017 11:23:27 AM,No,In Compliance,40.841402,-73.942568,12.0,10.0,251.0,Washington Heights South ...
3,4778226,MSCHoNY North,28400,NYP Columbia (West Campus),1021380030,1-02138-0030,1063380,3975 Broadway,Not Available,10032,...,Not Available,04/27/2017 11:23:27 AM,No,In Compliance,40.840427,-73.940249,12.0,10.0,251.0,Washington Heights South ...
4,4778267,Herbert Irving Pavilion & Millstein Hospital,28400,NYP Columbia (West Campus),1021390001,1-02139-0001,1087281; 1076746,161 Fort Washington Ave,177 Fort Washington Ave,10032,...,Not Available,04/27/2017 11:23:27 AM,No,In Compliance,40.840746,-73.942854,12.0,10.0,255.0,Washington Heights South ...
5,4778288,Neuro Institute,28400,NYP Columbia (West Campus),1021390085,1-02139-0085,1063403,710 West 168th Street,Not Available,10032,...,Not Available,04/27/2017 11:23:27 AM,No,In Compliance,40.841559,-73.942528,12.0,10.0,255.0,Washington Heights South ...

In [ ]:
nulls = train_df.columns[train_df.isnull().any()]
print("Null колонки:")
print(nulls)

Null колонки:
Index(['BBL - 10 digits', 'Street Number', 'Street Name', 'Borough',
       'DOF Gross Floor Area', 'Water Required?',
       'DOF Benchmarking Submission Status', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'NTA'],
      dtype='object')

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_df, test_df = train_test_split(train_df, random_state=54, train_size=0.7)
print(train_df.values.shape[0])

test_df.values.shape[0]

8222

3524

### **--- Задание №2 ---**

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [ ]:
train_df.describe()

,Property Id,DOF Gross Floor Area,Year Built,Number of Buildings - Self-reported,Occupancy,Property GFA - Self-Reported (ft²),Latitude,Longitude,Community Board,Council District,Census Tract
count,8.222000e+03,8.144000e+03,8222.000000,8222.000000,8222.000000,8.222000e+03,6654.000000,6654.000000,6654.000000,6654.000000,6654.000000
mean,3.638626e+06,1.747517e+05,1948.820603,1.281440,98.777670,1.683856e+05,40.754344,-73.956992,7.154193,15.704989,5146.501202
std,1.050510e+06,3.327961e+05,30.619752,4.039712,7.433078,2.890449e+05,0.079997,0.046651,3.953582,15.669928,13979.885365
min,8.139000e+03,5.002800e+04,1600.000000,0.000000,0.000000,0.000000e+00,40.516725,-74.229887,1.000000,1.000000,1.000000
25%,2.742226e+06,6.551500e+04,1927.000000,1.000000,100.000000,6.717000e+04,40.707614,-73.984520,5.000000,4.000000,100.000000
50%,3.180044e+06,9.408750e+04,1941.000000,1.000000,100.000000,9.499500e+04,40.759319,-73.962881,7.000000,9.000000,199.000000
75%,4.408808e+06,1.602278e+05,1966.000000,1.000000,100.000000,1.591320e+05,40.815359,-73.933428,9.000000,33.000000,538.000000
max,5.991312e+06,8.942176e+06,2016.000000,155.000000,100.000000,8.942176e+06,40.912869,-73.715543,56.000000,51.000000,155101.000000

In [ ]:
minMax_scaler = MinMaxScaler()

pipe = make_pipeline(minMax_scaler)

normal_data = pipe.fit_transform(train_df[train_df.columns])
df = pd.DataFrame(data = normal_data, columns = train_df.columns)

df.describe()

ValueError: ignored

In [ ]:
std_scaler = StandardScaler()

pipe = make_pipeline(std_scaler)

normal_data = pipe.fit_transform(train_df[train_df.columns])
df = pd.DataFrame(data = normal_data, columns = train_df.columns)

df.describe()

### **--- Задание №3 ---**

In [ ]:
fire_df = pd.read_excel("/content/drive/MyDrive/obd_data/05-7_task-files-2/10_fire_dataset_bin.xlsx", index_col='Unnamed: 0')

In [ ]:
fire_df.describe()

In [ ]:
fire_df.info()

In [ ]:
nulls = fire_df.columns[fire_df.isnull().any()]

print("Null колонки:")
print(nulls)

print("\nNull значения:")
print(fire_df[nulls].isnull().sum())

In [ ]:
fire_df = fire_df.select_dtypes(['number'])

In [ ]:
fire_df.info()

In [ ]:
x_fire_df = fire_df.drop('area', axis = 1)
y_fire_df = fire_df['area']

x_train, x_test, y_train, y_test = train_test_split(x_fire_df, y_fire_df, test_size = 0.25, random_state = 42)

In [ ]:
from collections import Counter

In [ ]:
from imblearn.under_sampling import NearMiss

undersamp = NearMiss(version = 1)
x_train_near, y_train_near = undersamp.fit_resample(x_train, y_train)

print(Counter(y_train_near))

In [ ]:
from imblearn.under_sampling import RandomUnderSampler

randsamp = RandomUnderSampler(sampling_strategy = 'majority')
x_train_rand, y_train_rand = randsamp.fit_resample(x_train, y_train)

print(Counter(y_train_rand))

In [ ]:
from imblearn.over_sampling import RandomOverSampler

oversamp = RandomOverSampler(sampling_strategy = 'minority')
x_train_rand, y_train_rand = oversamp.fit_resample(x_train, y_train)

print(Counter(y_train_rand))

In [ ]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(sampling_strategy = 'minority')
x_train_rand, y_train_rand = smote.fit_resample(x_train, y_train)

print(Counter(y_train_rand))

### **--- Задание №4 ---**

In [ ]:
import seaborn as sns
%matplotlib inline

In [ ]:
fire_df.head()

In [ ]:
sns.lmplot(data = fire_df, x = 'Po', y = 'area', aspect = 3, height = 5)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize = (10, 5))
sns.boxplot(fire_df.Po, orient = 'h')
plt.show()

In [ ]:
area_bins = fire_df.area.quantile([0, 1])
area_bins

In [ ]:
plt.figure(figsize = (5, 3))
sns.boxplot(data = fire_df, y = "Po", x = "area")
plt.show()

### **--- Задание №5 ---**

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
urls = {
    'https://career.habr.com/vacancies?page=1&type=all',
    'https://career.habr.com/vacancies?page=2&type=all'
}

In [ ]:
compList = []
vacList = []
salaryList = []

In [ ]:
def get_data():
  for url in urls :
    soup = BeautifulSoup(requests.get(url).text, 'html5lib')
    
    comps = soup.find_all('div', class_ = 'vacancy-card__company-title')
    for comp in comps :
      compList.append(comp.find('a', class_ = 'link-comp link-comp--appearance-dark').text)

    vacs = soup.find_all('div', class_ = 'vacancy-card__title');
    for vac in vacs : 
      vacList.append(vac.find('a', class_ = 'vacancy-card__title-link').text)

    salaries = soup.find_all('div', class_ = 'vacancy-card__salary')
    for salary in salaries :
      salaryList.append(salary.find('div', class_ = 'basic-salary').text)

  return compList, vacList, salaryList

In [ ]:
page_data = get_data()
data_dict = {'Компания': compList, 'Вакансия': vacList, 'Зарплата': salaryList}

page_df = pd.DataFrame.from_dict(data_dict, orient = 'index')
page_df = page_df.transpose()
page_df.head(10)

In [ ]:
page_df.to_csv('/content/habr_career.csv')

### **--- Задание №6 ---**

In [ ]:
auto_df = pd.read_csv('/content/drive/MyDrive/obd_data/05-7_task-files-3/11_automobiles/imports-85.data')

In [ ]:
auto_df.info()

In [ ]:
auto_df.head()

In [ ]:
names = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors", "body-style", "drive-wheels", "engine-location",
         "wheel-base", "length", "wigth", "height", "curb-weight", "engine-type", "num-of-cylinders", "engine-size", "fuel-system",
         "spfi", "bore", "compression-ratio", "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]

auto_df.columns = names;

In [ ]:
pd.set_option('display.max_columns', None)
auto_df.head()

In [ ]:
nulls = auto_df.columns[auto_df.isnull().any()]

print("Null колонки:")
print(nulls)

print("\nNull значения:")
print(auto_df[nulls].isnull().sum())

In [ ]:
num_cols = auto_df.select_dtypes(include=['int64', 'float64']).columns
cat_cols = auto_df.select_dtypes(include=['object']).columns

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelEncoder = LabelEncoder()
hotEncoder = OneHotEncoder()

label_df = auto_df.copy()
hot_df = auto_df.copy()

for col in cat_cols :
  label_df[col] = labelEncoder.fit_transform(auto_df[col])

  temp_df = pd.DataFrame(hotEncoder.fit_transform(hot_df[[col]]).toarray())
  hot_df = pd.concat([hot_df, temp_df], axis = 1)

In [ ]:
label_df.head(5)

In [ ]:
hot_df.head(5)